nav {
	box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px 0px;
}

.nav-link {
	color: rgb(41, 168, 223) !important;
}

nav a {
	font-weight: bold;
	font-size: large;
}

.test {
	color: rgb(107, 107, 107) !important;
	font-weight: bolder !important;

}

.navbar-brand {
	width: 200px;
}

.nav-light-color {
	color: white;
}

.nav-dark-color {
	color: black;
}